<%= stylesheet_pack_tag "decidim_ej", media: "all" %>

<div id="ej-conversation" class="ej-component-container">
  <div class="ej-conversation-header">
    <h1 class="ej-conversation-header__title">
      <%= @conversation['text'] %>
    </h1>
  </div>

  <% if false and @conversation['participants_can_add_comments'] %>
    <button id="add-new-comment-ej" class="br-button secondary black-and-white-btn" onclick="toggleCommentForm()">
      <i class="fa fa-plus"></i>
      <span>Adicionar comentário à enquete</span>
    </button>


    <div class="ej-conversation-container" id="comment-div-form" style="display: none;">
      <%= form_with url: post_comment_ej_path(@conversation_id), method: :post, class: "new-comment-container", local: true do |form| %>
        <div class="bp-text-area">
          <%= form.text_area :body,
            label: "Deixe aqui seu comentário",
            placeholder: "Se aprovado pela moderação, seu comentário será disponibilizado para votação na enquete.",
            rows: 5 %>
        </div>
        <%= form.submit "Enviar para moderação", class: "br-button primary submit-new-comment-btn" %>
      <% end %>
    </div>
  <% end %>

  <div class="ej-conversation-container">
    <% if @conversation['user_stats'] %>
      <div class="percentage-container">
        <h4 class="percentage-title">Você respondeu <%= number_to_percentage(@user_participation_ratio, precision: 2) %> desta enquete</h4>
        <div style="background: var(--pure-0);">
          <div class="percentage-bar" style="width: <%= @user_participation_ratio %>%;"></div>
        </div>
      </div>
    <% end %>
    <div class="ej-conversation-card">
      <% if @comment['content'].present? %>
        <span>
          <% if @conversation['user_stats'] %>
            <div class="ej-conversation-card__comments">
              Comentário <%= @conversation['user_stats']['comments'] %> de <%= @conversation['user_stats']['total_comments'] %>
            </div>
          <% end %>
          <h3 id="comment-content" class="ej-conversation-card__comment">
            <%= @comment['content'] %>
          </h3>
        </span>
        <div class="ej-conversation-card__votes">
          <button class="br-button primary" onclick="saveVote('agree', <%=  @comment['links']['self'].split('/')[-1]%>)" id="agree">
            <span id="agree-text">
              Concordo
            </span>
            <i class="fa fa-thumbs-up"></i>
            <span id="agree-loader" class="loader"></span>
          </button>
          <button class="br-button primary" onclick="saveVote('disagree', <%=  @comment['links']['self'].split('/')[-1]%>)" id="disagree">
            <span id="disagree-text">
              Discordo
            </span>
            <i class="fa fa-thumbs-down"></i>
            <span id="disagree-loader" class="loader"></span>
          </button>
          <button class="br-button secondary" onclick="saveVote('skip', <%=  @comment['links']['self'].split('/')[-1]%>)" id="skip">
            <span id="skip-text">pular</span>
            <span id="skip-loader" class="loader"></span>
          </button>
        </div>
      <% else %>
        <h3 class="ej-conversation-card__comment">
          Parabéns! Você concluiu seus votos nesta enquete.
        </h3>
      <% end %>
    </div>
  </div>
  <% if false %>
    <div class="centered-content">
      <%= link_to ej_index_path, class: "br-button primary" do %>
        <span class="mr-2">Acessar lista de enquetes</span>
        <i class="fa fa-arrow-right"></i>
      <% end %>
    </div>
  <% end %>
</div>

<script>
(function() {
  const saveVote = (choice, comment_id) => {
    $.ajax({
      method: "POST",
      url: '<%= post_vote_ej_path(@conversation_id) %>',
      data: {"choice": choice, "comment_id": comment_id},

      beforeSend: function() {
        $(`#${choice}-text`).hide();
        $(`#${choice}-loader`).css("display", "block");
      },
      success: function(response) {
        $(`#${choice}-text`).show();
        $(`#${choice}-loader`).hide();
        $("#ej-conversation").replaceWith(response);
      }
    });
  };
  window.saveVote = saveVote;

  const toggleCommentForm = () => {
    $("#comment-div-form").toggle(200, function() {
      const button = $("#add-new-comment-ej");
      const icon = button.find("i");
      const span = button.find("span");

      if ($("#comment-div-form").is(":visible")) {
        icon.removeClass("fa-plus").addClass("fa-minus");
        span.text("Cancelar comentário à enquete");
      } else {
        icon.removeClass("fa-minus").addClass("fa-plus");
        span.text("Adicionar comentário à enquete");
      }
    });
  };
  window.toggleCommentForm = toggleCommentForm;
})();

</script>
