<%= stylesheet_pack_tag "decidim_ej", media: "all" %>

<div id="ej-conversation" class="ej-component-container br-container-lg">
  <div class="ej-conversation-header">
    <h1 class="ej-conversation-header__title">
      <%= @conversation['text'] %>
    </h1>
    <p class="ej-conversation-header__subtitle">
      Posicione-se a respeito dos comentários feitos nesta enquete e contribua com a formação da opinião popular.
    </p>
  </div>

  <button class="br-button secondary black-and-white-btn">
    <i class="fa fa-plus"></i>
    <span>Adicionar comentário à enquete</span>
  </button>

  <div class="ej-conversation-container">
    <div class="ej-conversation-card">
      <%# <div class="ej-conversation-card__comments"></div> %>
      <h3 id="comment-content" class="ej-conversation-card__comment">
        <%= @comment['content'] %>
      </h3>
      <% if @comment['content'] != "You have voted on all comments. Thank you for the participation." %>
        <div class="ej-conversation-card__votes">
          <button class="br-button primary" onclick="saveVote('agree', <%=  @comment['links']['self'].split('/')[-1]%>)" id="agree">
            <span id="agree-text">
              Concordo
            </span>
            <i class="fa fa-thumbs-up"></i>
            <span id="agree-loader" class="loader"></span>
          </button>
          <button class="br-button primary" onclick="saveVote('disagree', <%=  @comment['links']['self'].split('/')[-1]%>)" id="disagree">
            <span id="disagree-text">
              Discordo
            </span>
            <i class="fa fa-thumbs-down"></i>
            <span id="disagree-loader" class="loader"></span>
          </button>
          <button class="br-button secondary" onclick="saveVote('skip', <%=  @comment['links']['self'].split('/')[-1]%>)" id="skip">
            <span id="skip-text">pular</span>
            <span id="skip-loader" class="loader"></span>
          </button>
        </div>
      <% end %>
    </div>
  </div>

  <span class="br-divider" style="width: 100%"></span>

  <div class="ej-conversation__general-stats">
    <div class="ej-conversation-stats__card">
      <i class="fa fa-users fa-2x"></i>
      <div class="ej-conversation-stats__card-content">
        <span class="ej-stats__number">
          <%= @conversation['statistics']['comments']['approved'] %>
        </span>
        <span class="ej-stats__description">
          pessoas estão participando desta enquete
        </span>
      </div>
    </div>
    <div class="ej-conversation-stats__card">
      <i class="fa fa-vote-yea fa-2x"></i>
      <div class="ej-conversation-stats__card-content">
        <span class="ej-stats__number">
          <%= @conversation['statistics']['votes']['total'] %>
        </span>
        <span class="ej-stats__description">
          votos foram efetuados nesta enquete
        </span>
      </div>
    </div>
  </div>
</div>

<script>
const saveVote = (choice, comment_id) => {
  $.ajax({
    method: "POST",
    url: '<%= voting_path %>',
    data: {"choice": choice, "comment_id": comment_id},

    beforeSend: function() {
      $(`#${choice}-text`).hide();
      $(`#${choice}-loader`).css("display", "block");
    },
    success: function(response) {
      $(`#${choice}-text`).show();
      $(`#${choice}-loader`).hide();
      $("#ej-conversation").replaceWith(response);
    }
  });

}
</script>
