
<div class="tabs-container">
  <%= link_to "surveys?selected_tab=surveys" do %>
    <div class="<%= @selected_tab == "surveys" ? "selected" : "" %>">
      Lista de enquetes
    </div>
  <% end %>

  <%= link_to "surveys?selected_tab=comments" do %>
    <div class="<%= @selected_tab == "comments" ? "selected" : "" %>">
      Meus comentários
    </div>
  <% end %>

  <%= link_to "surveys?selected_tab=votes" do %>
    <div class="<%= @selected_tab == "votes" ? "selected" : "" %>">
      Meus votos
    </div>
  <% end %>
</div>

<% case @selected_tab %>
<%when "surveys"%>
  <%= render partial: "survey_tab"%>
<%when "comments"%>
  <%= render partial: "comment_tab"%>
<%when "votes"%>
  <%= render partial: "vote_tab"%>
<% end %>
