<% add_decidim_page_title("Ej") %>

<% feedback = {title: '', text: '', button_label: ''} %>
<% has_error = false %>

<% if flash.try(:[], :alert) %>
  <%
    feedback['title'] = "Oops! Algo deu errado."
    feedback['text'] = flash.first.last
    feedback['button_label'] = "Ir para a página inicial"
    feedback['button_link'] = "/"
    has_error = true
  %>
<% else %>
  <%
    feedback['title'] = "Concluído!"
    feedback['text'] = "Sua conta foi vinculada com sucesso! Agora você pode continuar participando das enquetes livremente."
    feedback['button_label'] = "Voltar para o WhatsApp"
    feedback['button_link'] = "https://api.whatsapp.com/send?phone=556120217216"
  %>
<% end %>

<div class="feedback-login-container br-container-lg">
  <% if !browser.mobile? and has_error %>
    <div class="first-content-container">
      <%= render 'feedback_image_svg' %>
    </div>
  <% end %>
  <div class="second-content-container">
    <h2><%= feedback['title'] %></h2>
    <p><%= feedback['text'] %></p>
    <a href="<%= feedback['button_link'] %>" class="br-button primary">
      <%= feedback['button_label'] %>
    </a>
  </div>
</div>
