<% add_decidim_page_title(@conversation["title"]) %>

<% if flash.try(:[], :alert) %>
  <div class="br-message warning new-proposal-error">
    <div class="icon">
      <i class="fas fa-check-circle fa-lg" aria-hidden="true"></i>
    </div>
  <% elsif flash.try(:[], :notice) %>
    <div class="br-message success">
      <div class="icon">
        <i class="fas fa-check-circle fa-lg" aria-hidden="true"></i>
      </div>
      <div class="content" role="alert">
        <span class="message-title"><%= flash.first.last %></span>
      </div>
      <div class="close">
        <button class="br-button circle small" type="button" aria-label="Fechar a messagem alterta">
          <i class="fas fa-times" aria-hidden="true"></i>
        </button>
      </div>
    </div>
    <div class="close">
      <button class="br-button circle small" type="button" aria-label="Fechar a mensagem de alerta">
        <i class="fas fa-times" aria-hidden="true"></i>
      </button>
    </div>
  </div>
<% elsif flash.try(:[], :notice) %>
  <div class="br-message success">
    <div class="icon">
      <i class="fas fa-check-circle fa-lg" aria-hidden="true"></i>
    </div>
    <div class="content" role="alert">
      <span class="message-title"><%= flash.first.last %></span>
    </div>
    <div class="close">
      <button class="br-button circle small" type="button" aria-label="Fechar a mensagem de sucesso">
        <i class="fas fa-times" aria-hidden="true"></i>
      </button>
    </div>
  </div>
<% end %>

<div class="br-container-lg">
  <%= render partial: "component" %>
  <span class="br-divider mb-4 mt-4" style="width: 100%"></span>

  <div class="ej-conversation__general-stats">
    <div class="ej-conversation-stats__card">
      <i class="fa fa-users fa-2x"></i>
      <div class="ej-conversation-stats__card-content">
        <span class="ej-stats__number">
          <%= @conversation['statistics']['comments']['approved'] %>
        </span>
        <span class="ej-stats__description">
          pessoas estão participando desta enquete
        </span>
      </div>
    </div>
    <div class="ej-conversation-stats__card">
      <i class="fa fa-vote-yea fa-2x"></i>
      <div class="ej-conversation-stats__card-content">
        <span class="ej-stats__number">
          <%= @conversation['statistics']['votes']['total'] %>
        </span>
        <span class="ej-stats__description">
          votos foram efetuados nesta enquete
        </span>
      </div>
    </div>
  </div>

  <div class="share-ej-container mt-4">
    <%= render partial: "decidim/shared/share_modal", locals: {
        button_name: 'Compartilhar enquete',
        title_name: 'Compartilhe essa enquete',
        translation_component: '',
        resource_name: 'resource_title(@meeting)',
        component_name: 'resource_title(current_participatory_space)'
      }
    %>
  </div>
</div>
